body {
  color: #404040;
  background: #ccffff;
  font: 100%/1.5 Cambria, Georgia, serif;
  margin: 0;
  padding: 1em 5%;
}

h3{
	font-size: 30px;
	text-align: center;
}
.feedback{
	font-size: 20px;
}

a{
	text-decoration: none; 
	color: black;
}
.optionblock{
	text-align: center;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

th
{
text-align:left;border-color: transparent;
} 

table
{
width: 80%;
padding: 0;
	margin: 0;
text-align: left;
}

th, td {
    border: 1px transparent;
    overflow: hidden;
    width: 30%;
}

table tr td:nth-child(2) {
    width: 20%;
}

table tr td:nth-child(3) {
    width: 20%;
}

table th:nth-child(2) {
    width: 20%;
}

table th:nth-child(3) {
    width: 20%;
}/*

.bout{
	display: inline;
	width: 100%;
	display: block;
	float: right;
  	clear: none; 
}*/