html{
	padding: 0;
	margin: 0;
}
	body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }

ul{
		display: inline;
	}
	li{
	text-decoration: none;
	display: inline;
	position: relative;
		}
	img{
			width: 280px;
			height: 240px;
		}
	div{
		padding: 0px;
		margin: 0px;
		text-align: center;
		float: none;
	}

	#header{
		position: relative;
		left:-26%;
	}

	.game{
		position: relative;
		margin-top: 54px;
	}

	.gamesection{
	height: 280px;
	position: relative;

	}
	.gameimg{
		position: absolute;
		left: 10%;

	}
	.gametitle{
		position: absolute;
		top: 0;
		left: 34%;
		padding-right: 44px;
		font-size: 34px;
		color: black;
		text-align: left;
	}

	h3{
		padding: 0px;
		margin: 4px;
	}
	p{
		padding: 0px;
		font-size: 19px;
		margin: 0;
	}
	
	a{
		text-decoration: none;
	}

	.backbut {
    position:absolute;
    top:15px;
    right:35px;
    color: rgba(255,255,255,1);
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 2em;
    width: 100px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);

	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}