/* ------ general
-----------------------------------------------*/

body {
font-family:Arial, Helvetica, sans-serif;
background:#36d7b7;
font-size:11px;
}

div{
	font-family: sans-serif;
	color: red;
	border: 5px;
	border-radius: 2px;

}

p{
	font-size: 50px;
}

.image{
	height:600px;
}