
   body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }

    #box{
        position: relative;
        left: 38%;
    }
    .gamezone{
      width: 315px;
      height: 315px;
    }
    .title{
      width: 315px;
      text-align: center;
    }
    