*{
	margin:0;
	padding:0;
}

html{
	background-image: url(http://subtlepatterns.com/patterns/ricepaper.png)
}

body{
	font:15px Calibri,Arial,sans-serif;
	border:1px solid transparent;
}

/* Styling the slideshow */

#slideShowContainer{
	width:580px;
	height:580px;
	position:relative;
	margin:5px auto 5px;
}

#slideShow{
	padding: 0;
	margin: 0;
	top:0%;
	position:absolute;
	width:580px;
	height:580px;
	margin:10px 0 0 10px;
	z-index:10;	
	/*-moz-box-shadow:0 0 10px #111;
	-webkit-box-shadow:0 0 10px #111;
	box-shadow:0 0 10px #111;*/
}

img{
	position: absolute;
}
#slideShow ul{
	position:absolute;
	top:5px;
	right:5px;
	bottom:5px;
	left:5px;
	list-style:none;
	overflow:hidden;
}

#slideShow li{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#slideShowContainer > a{
	border:none;
	text-decoration:none;
	text-indent:-99999px;
	overflow:hidden;
	width:270px;
	height:270px;
	position:absolute;
	top:50%;
	margin-top:-21px;
}

#previousLink{
	left:-280px;
	background:url('../img/icon/leftarrow.png') no-repeat;

	z-index: 20;
}

#previousLink:hover{
	background-position:bottom left;

}

#nextLink{
	background:url('../img/icon/rightarrow.png') no-repeat;
	z-index: 20;
	right:-260px;
	background-position:top right;
}

#nextLink:hover{
	background-position:bottom right;
}

/* General styles */

.note{
	margin-bottom:40px;
	text-align:center;
}

.credit{
	font-size:12px;
}

.credit a{
	color:#bbb !important;
}

a{
	text-decoration: none;
}